{% extends 'rate_my_agency/base.html' %}
{% load static %}

{% block title_block %}
	About Page 
{% endblock %}

{% block body_block %}
	
	<h2>
		About Rate my Agency! <br />
	</h2>
	<div>
		<p>Our aim is to help tenants gain knowledge on letting agencies, so that they may make an informed decision when it's time to move.</p><br />
		<p>This is done through a comment box which users may contribute to, leaving their opinion on that particular agency, or a rating, for which they may leave a like or dislike</p><br />
		<p>Agencies can also see these comments and ratings, so they may receive it as feedback for their service.</p><br /><br />
		<p>We hope you enjoy using our website.</p>
	</div>
{% endblock %}
