{% extends 'rate_my_agency/base.html' %}
{% load static %}

{% block title_block %}
	About Page 
{% endblock %}

{% block body_block %}
	
	<h2>
		Here is the about page. <br />
	</h2>
	<div>
		We are a website where tenants can find and rate letting agencies and letting agencies can upload their profiles and receive ratings. Our aim is to help tenants find which agencies to avoid, and which ones have good ratings, as well as allow agencies to receive feedback about their services.
	</div>
{% endblock %}
