{% extends 'rate_my_agency/base.html' %}
{% load static %}

{% block title_block %}
	{% if agency %}
		{{ agency.agencyName }}
	{% else %}
		Unknown Agency
	{% endif %}
{% endblock %}

{% block body_block %}
	{% if agency %}
		<h2>{{ agency.agencyName }}</h2>
		<p>This agency has an approval rate of {{ approval }}%</p>
		{% for comment in comments %}
			<p>{{ comment.tenant }}: {{ comment.commentText }} <br /></p>
		{% endfor %}
            <!-- SLIDER COPY STUFF-->
           
           
        <link rel="stylesheet" href="{% static 'css/slider.css' %}" />
        <h3>Check out our gallery!</h3>   
        <div class="display-container">
        {% for image in images %}
            <img class="Slider" src="{{ MEDIA_URL }}{{ image.image }}" alt="Flat image"/>
        {% endfor %}
        <button class="lButton" onclick="plusDivs(-1)">&#10094;</button>
        <button class="rButton" onclick="plusDivs(+1)">&#10095;</button>
       </div>
        <script src= "{% static 'js/slider.js' %}"></script>
        
        
       
       
		{% if user.is_authenticated %}
			{% if agency.user == user %}
				<form action="{% url 'rate_my_agency:add_image' agency.slug %}">
					<button class="button" type="submit">Add Picture</button>
				</form>
			{% endif %}
			
			{% if tenant %}
				<form action="{% url 'rate_my_agency:add_comment' agency.slug %}">
					{% csrf_token %}
					<button type="submit" class="button" >Add a Comment</button>
				</form>
				
				<div>
					{% if rating %}
					<br /><strong> You have already left a rating for this agency.</strong>
					<form method="post" action="{% url 'rate_my_agency:delete_rating' agency.slug %}">
						{% csrf_token %}
						<button class="button" type="submit">Remove Rating</button>
					</form>
					{% else %}
					<form method="post" action="{% url 'rate_my_agency:add_like' agency.slug %}">
						{% csrf_token %}
						<button class="like" type="submit">Like</button>
					</form>
				
					<form method="post" action="{% url 'rate_my_agency:add_dislike' agency.slug %}">
						{% csrf_token %}
						<button class="dislike" type="submit">Dislike</button>
					</form>
					{% endif %}
				</div>	
			{% endif %}
		{% endif %}
	{% else %}
	<strong>Sorry, this is not an agency registered with us</strong>
	{% endif %}
{% endblock %}
