{% extends 'rate_my_agency/base.html' %}
{% load static %}

{% block title_block %}
	{% if agency %}
		{{ agency.agencyName }}
	{% else %}
		Unknown Agency
	{% endif %}
{% endblock %}

{% block body_block %}
	{% if agency %}
		<h2>{{ agency.agencyName }}</h2>
		<p>This agency has an approval rate of {{ approval }}%</p>
		{% for comment in comments %}
			<p>{{ comment.tenant }}: {{ comment.commentText }} <br /></p>
		{% endfor %}
        
        
        {% for image in images %}
            <img src="{{ MEDIA_URL }}{{ image.image }}" alt="Flat image"/>
        {% endfor %}
        
        
	{% else %}
		<strong>Sorry, this is not an agency registered with us</strong>
	{% endif %}
	{% if user.is_authenticated %}
		{% if agency.user == user %}
         <button class="button" type="submit">Add Picture</button>
		{% endif %}
		{% for tenant in tenants %}
			{% if tenant.user == user %}
			<button class="button" type="submit">Add a Comment</button>
			<button class="like" type="submit">Like</button>
			<button class="dislike" type="submit">Dislike</button>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endblock %}