{% extends 'rate_my_agency/base.html' %}
{% load static %}

{% block title_block %}
	{% if cities %}
		{{ city.name }}
	{% else %}
		Unknown City
	{% endif %}
{% endblock %}

{% block body_block %}
	{% if cities %}
		<h1>{{ cities.name }}</h1>
		{% if agencies %}
		<ul>
			{% for agency in agencies %}
			<li>{{ agency.agencyName }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<strong>Sorry, there are no agencies currently based in this city.</strong>
		{% endif %}
	{% else %}
		Sorry, we do not store information on agencies in this city.
	{% endif %}
	</div>
{% endblock %}
	
	