{% extends 'rate_my_agency/base.html' %}
{% load static %}

{% block title_block %}
	{% if cities %}
		{{ cities.name }}
	{% else %}
		Unknown City
	{% endif %}
{% endblock %}

{% block body_block %}
	{% if cities %}
		<h2>{{ cities.name }}</h2>
		{% if agencies %}
		<ul>
			{% for agency in agencies %}
			<li><a href="/rate_my_agency/agency/{{ agency.slug }}/">{{ agency.agencyName }}</a></li>
			{% endfor %}
		</ul>
		{% else %}
		<strong>Sorry, there are no agencies currently based in this city.</strong>
		{% endif %}
	{% else %}
		Sorry, we do not store information on agencies in this city.
	{% endif %}
{% endblock %}