{% extends 'rate_my_agency/base.html' %}
{% load static %}


{% block title_block %}
	Homepage 
{% endblock %}
	
{% block body_block %}

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    
	<div id = "welcome">
	{% if user.is_authenticated %}
		Welcome <strong>{{ user.username }}!</strong>
	{% else %}
		Welcome!
	{% endif %}
	<br />
		<strong>{{ boldmessage }}</strong><br />
	</div>
    

    
    <main id="boxes">
    
	<div id = "own_div">
		<h2>Search for agencies by city:</h2>
		{% if cities %}
			<ul>
			{% for city in cities %}
				<li>
					<a href="/rate_my_agency/city/{{ city.slug }}/">{{ city.name }}</a>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no cities currently available</strong>
		{% endif %}
	</div>

    
	<div id = "own_div">
		<h2>Top rated agencies:</h2>
		{% if all_agencies %}
			<ul>
			{% for agency in top_agencies %}
				<li><a href="/rate_my_agency/agency/{{ agency.slug }}/">{{ agency.agencyName }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no agencies currently available</strong>
		{% endif %}
	</div>

	<div id= "own_div">
		<h2>Busiest Agencies</h2>
		{% if all_agencies %}
			<ul>
			{% for agency in busy_agencies %}
				<li><a href="/rate_my_agency/agency/{{ agency.slug }}/">{{ agency.agencyName }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no agencies currently available</strong>
		{% endif %}
	</div>
    </main>

		
	<div id = "search">
		<h2>Search By Agency Name:</h2>
		<form method="get">
			{{myFilter.form}}
		<button class="button" type="submit">Search</button>
		{% if agencies %}
			{% for agency in agencies %}
				<ul><li><div><a href="/rate_my_agency/agency/{{ agency.slug }}/">{{ agency.agencyName }}</a></div> </li></ul>
			{% endfor %}
		{% else %}
			<strong>There are no agencies that match this search.</strong>
		{% endif %}
		</form>
		
	<br>
{% endblock %}