{% extends 'rate_my_agency/base.html' %}
{% load static %}

/*
<head>
	<style>
		.button {
		  background-color: white; 
		  border: 2px solid #4CAF50;
		  color: black;
		  padding: 16px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin: 4px 2px;
		  transition-duration: 0.4s;
		  cursor: pointer;
		}

		.button:hover {
		  background-color: #4CAF50;
		  color: white;
		}
	</style>
<head>
*/

{% block title_block %}
	Homepage 
{% endblock %}
	
{% block body_block %}
	<h1>Rate my Agency</h1>
	<div>
		Welcome! <br />
		<strong>{{ boldmessage }}</strong><br />
	</div>
	
	<div>
		<h2>Search for agencies by city:</h2>
		{% if cities %}
			<ul>
			{% for city in cities %}
				<li>
					<a href="/rate_my_agency/city/{{ city.slug }}/">{{ city.name }}</a>
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no cities currently available</strong>
		{% endif %}
	</div>
	
	<div>
		<h2>Top rated agencies:</h2>
		Should have similar code to search by city above, but cannot implement currently as we don't have
		the rating system working yet. Thinking we should have a field called "approval" in the Agency model,
		so as to avoid confusion with <strong>individual</strong> user ratings? This would just be a percentage
		of ratings which were likes. Not sure exact logistics of that yet though - maybe we should ask the tutor.<br>
		-Paul
	</div>
	
	<div>
		<h2>Busiest Agencies</h2>
		We got negative feedback on "agencies to avoid" on the design spec, so I thought we could replace it with
			something like this, based on how many comments a page has for example. Can discuss on Thursday.<br>
			-Paul
	</div>
		
	<div>
		<h2>Search By Agency Name:</h2>
		<form method="get">
			{{myFilter.form}}
		<button class="button" type="submit">Search</button>
		{% if agencies %}
			{% for agency in agencies %}
				<ul><li><div>{{ agency.agencyName }}</div> </li></ul>
			{% endfor %}
		{% else %}
			<strong>There are no agencies that match this search.</strong>
		{% endif %}
		</form>
		
	<br>
{% endblock %}
		
		
	
	
	
	