{% extends 'rate_my_agency/base.html' %}
{% load static %}

{% block title_block %}
	Registration
{% endblock %}

{% block body_block %}
	<h2>Sign up to Rate my Agency for free</h2>
	<h3>Select the type of account you would like to create</h3>
	
	<form action="{% url 'rate_my_agency:register_tenant' %}">
         <button class="register" type="submit">Tenant</button>
    </form>
	<form  action="{% url 'rate_my_agency:register_agency' %}">
         <button class="register" type="submit">Agency</button>
    </form>
{% endblock %}