{% extends 'rate_my_agency/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Registration
{% endblock %}

{% block body_block %}
	<h1>Sign up as a Tenant</h1>
	{% if registered %}
		<strong>Thank you for registering!</strong>
		<a href="{% url 'rate_my_agency:index' %}">Return to the homepage.</a><br />
	{% else %}
		<div>
			<form id="tenant_form" method="post" action="/rate_my_agency/register/tenant/"
			enctype="multipart/form-data">
			{% csrf_token %}
			{{ tenant_form.as_p }}
			<input type="submit" name="submit" value="Submit" />
			</form>
		</div>
	{% endif %}
{% endblock %}